// color variables
$hero_color: #E4F9F5;
$heading_color: #00ABF9;
$first_link_color: linear-gradient(to right top, #ff9671, #ff8c76, #ff817e, #ff7887, #ff6f91);
$second_link_color: linear-gradient(to right top, #4e8397, #679896, #8ea998, #b5b9a5, #d5cabd);
$third_link_color: linear-gradient(to right top, #00c9a7, #54d6b9, #7ee3cc, #a2f0dd, #c4fcef);

// font variables
$body_font: 'Montserrat', sans-serif;
$heading_font: 'Roboto', sans-serif;
$sub_heading_font: 'Sacramento', cursive;

// shadows
$image_shadow: 10px 10px 5px #d0d0d0;
$buttonshadow: 5px 5px 5px #d0d0d0;